@model ProfileViewModel;

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="icon" href="~/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Profil</title>
</head>

<body>
    @await Component.InvokeAsync("OnlineHeader")

    <main class="mt-5">
        <div class="second_container">
            <section class="personal-information">
                <form asp-controller="Account" asp-action="EditProfile" method="post">
                    <div class="account-form-wrapper main-profile-block-shown">
                        <div class="main-profile-block-date-info small mb-4">
                            <strong>Son giriş:</strong>
                            <strong>@Model.LastSignInDate</strong>
                        </div>

                        <div class="form-widget form-widget-fio">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" asp-for="UserName">İstifadəçi adı (ən az 3 simvol)	</label>
                                <input asp-for="UserName" value="@Model.UserName" class="form-control text-field" type="text">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-widget form-widget-fio">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" asp-for="FirstName">Ad:</label>
                                <input asp-for="FirstName" value="@Model.FirstName" class="form-control text-field" type="text">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-widget form-widget-fio">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" asp-for="LastName">Soyad:</label>
                                <input asp-for="LastName" value ="@Model.LastName" class="form-control text-field" type="text">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-widget form-widget-fio">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" asp-for="MiddleName">Orta Ad:</label>
                                <input asp-for="MiddleName" value="@Model.MiddleName" class="form-control text-field" type="text">
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-widget form-widget-birthday">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" >Doğum tarixi:</label>
                                <div class="form-widget-input">
                                    <input asp-for="BirthDay" class="form-control pe-5 ps-4 pt-2 pb-2" type="date">
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-widget form-widget-email">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label">E-poçt:</label>
                                <input asp-for="Email" class="form-control text-field" type="text" name="Email"  id="main-profile-email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-widget form-widget-password">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" >Cari Şifrə:</label>
                                <input asp-for="CurrentPassword" class="form-control text-field" type="password" >
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                <p class="main-profile-form-password-annotation small">
                                    Mövcud şifrəni daxil edin!
                                </p>
                            </div>
                        </div>

                        <div class="form-widget form-widget-password">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" >Yeni şifrə:</label>
                                <input asp-for="NewPassword" class="form-control text-field" type="password" >
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                <p class="main-profile-form-password-annotation small">
                                    Şifrə ən azı 6 simvoldan ibarət olmalıdır.
                                </p>
                            </div>
                        </div>

                       

                        <div class="form-widget form-widget-password">
                            <div class="account-form-widget form-widget-box">
                                <label class="form-widget-label" >Yeni şifrə təsdiqləyin:</label>
                                <input asp-for="ConfirmNewPassword" class="form-control text-field" type="password" >
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-controls password-form-controls d-flex">
                        <button type="submit" class="btn btn-success me-3">Yadda Saxla</button>
                        <button asp-controller="OnlineMarket" asp-action="index" class="btn btn-outline-success me-2">Ləğv</button>
                        <button asp-controller="account" asp-action="Logout" class="btn btn-outline-danger">Çıxış et</button>
                    </div>
                </form>
            </section>
        </div>
    </main>


    <footer class="footer">
        <div class="second_container">
            <div class="wrapper-inner">
                <div class="footer-content">
                    <div class="footer-top">
                        <div class="row">
                            <div class="footer-item col-lg-3 col-12 footer-item-logo text-lg-left r">
                                <a href="/" class="logo bottom-logo">
                                    <img src="~/assets/images/icons/logo.svg">
                                </a>
                                <div class="footer-phone row">
                                    <div class="col-lg-12 col-sm-6">
                                        <a href="tel:*2266" class="phone-link">*2266</a>&nbsp;
                                        <p style="font-size: 12px; color: #313131; font-weight: bold; margin-top: 5px;">
                                            Müştəri Xidmətləri 9:00-dan 20:00-a
                                            qədər
                                        </p>
                                    </div>
                                    <div class="col-lg-12 col-sm-6">
                                        <button type="button" class="feedback-btn mt-2"
                                                data-target="#feedbackModal">
                                            Əlaqə
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-item col-lg-5 col-12 footer-item-menu-list text-lg-left  my-lg-0 my-4 py-lg-0 py-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="footer-item-menu mb-sm-0 mb-3">
                                            <div class="footer-item-title">
                                                Alıcılara
                                            </div>
                                            <div class="navigation-box">

                                                <ul class="navigation">

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">FAQ</a>
                                                    </li>

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">
                                                            Malların sifarişi və satış qaydası
                                                            haqqında razılaşma
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="footer-item-menu">
                                            <div class="footer-item-title">
                                                Məlumat<br>
                                            </div>
                                            <div class="navigation-box">

                                                <ul class="navigation">

                                                    <li class="navigation_item">
                                                        <a href=""
                                                           class="navigation-link">Çatdırılma və ödəniş</a>
                                                    </li>

                                                    <li class="navigation_item">
                                                        <a href="" class="navigation-link">
                                                            Geri
                                                            qaytarma şərtləri
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-item col-lg-4 col-12 pl-lg-0 footer-item-text-wrapper text-lg-left ">
                                <div class="footer-item-text">
                                </div>
                                <div class="footer-item-pays">
                                    <div class="pays-box">
                                        <div class="pay-item">
                                            <img src="~/assets/images/payments/mastercard.png"
                                                 alt="Банковская карта MasterCard" title="">
                                        </div>
                                        <div class="pay-item">
                                            <img src="~/assets/images/payments/maestro.png"
                                                 alt="Банковская карта Maestro" title="">
                                        </div>
                                        <div class="pay-item">
                                            <img src="~/assets/images/payments/visa.png" alt="Банковская карта Visa"
                                                 title="">
                                        </div>
                                    </div>
                                </div>
                                <div id="bx-composite-banner" style=" margin-top: 10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-item-copy">
                            <div class="row align-items-center text-lg-left text-center">
                                <div class="col-lg col-12">

                                    <span>2023 ©</span> <span><b>Azerbaijan Supermarket LLC</b></span>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/assets/js/category.js"></script>
    <script src="~/assets/js/onlinemarket.js"></script>

</body>

</html>
